*{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: rgb(248, 248, 248);
}


h1 {
    text-align: center;
    font-size: 40px;
}

/* navbar */

.navbar {
    padding: 25px 0;
}

.navbar a {
    display: inline;
    text-decoration: none;
    color: black;
    padding: 20px;
    font-size: 17px;
    transition: 0.7s;
}

.navbar a:hover {
    color: rgb(86, 138, 173);
    letter-spacing: 3px;
    font-size: 18px;
}


/* about_section */

.about_section h3{
    font-size: 20px;
    color: rgb(161, 161, 161);
}

.about_section h2{
    font-size: 60px;
    font-weight: 800;
    letter-spacing: 4px;
}    

.about_section p {
    font-size: 30px;
    font-weight: 700;
    letter-spacing: 4px;
    color: rgb(161, 161, 161);
}

.about_section #myprojects{
    background-color: rgb(86, 138, 173);
    color: white;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 2px;
    padding: 8px 50px;
    border: 1px solid white;
    border-radius: 50px;
    transition: 0.7s;
}

.about_section #myprojects:hover {
    background-color: rgb(86, 173, 98);
    letter-spacing: 3px;
}


/* my work section */

.mywork_words p{
    text-align: center;
    line-height: 1.6;
    font-size: 17px;

}

.mywork_details i{
    color: rgb(86, 138, 173);
    font-size: 30px;
    margin: 10px;
}


.mywork_details h3 {
    color: rgb(86, 138, 173);
    letter-spacing: 2px;
    word-spacing: 3px;
    font-size: 25px;
    font-weight: 500;

}


/* Resume */


/* contact section */


.contact_section input{
    width: 60%;
    height: 40px;
    margin: 10px; 
}

textarea {
    margin: 10px;
}

#contact_send {
    background-color: rgb(86, 138, 173);
    color: white;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 3px;
    padding: 8px 50px;
    border: 1px solid white;
    border-radius: 50px;
    transition: 0.7s;

}

#contact_send:hover {
    background-color: rgb(86, 173, 98);
    font-size: 18px;
}

.contact_section .contact_section_inputs {
    border-radius: 5px;
    border: 1px solid rgb(252, 252, 252);
    background-color: rgb(168, 168, 168);
    padding: 5px;
    cursor: pointer;
    transition: 0.7s;
}

.contact_section .contact_section_inputs:focus {
    background-color: rgb(255, 255, 255);

}

/* topof thepage button */

.topOfThePage i{
    background-color: rgb(86, 138, 173);
    color: rgb(255, 255, 255);
    font-size: 40px;
    border-radius: 50px;
    transition: 0.7s;
}

.topOfThePage i:hover {
    background-color: rgb(86, 173, 98);
}

/* footer */

footer p{
    text-align: center;
    font-size: 20px;
    font-weight: 500;
    word-spacing: 4px;
    letter-spacing: 2px;
}
